
body{
    background-color: #fffbf7;
}

h1 {
    text-align: center;
    color: #8b8b8bcc;
}

p{
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    background-color: antiquewhite;
    color: #46484c;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button{
    border-radius: 10px;
    background-color: #025157;
    color: #ffffff;
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

li {
    display: inline;
}

.header > * {
    display: inline-block;
}

.logo {
    width: 15%;
  }
  
  .navbar {
    width: 70%;
  }
  
  .actions {
    width: 15%;
  }
